@font-face {
  font-family: "SCDream";
  src: local("SCDream1"), url("@/assets/fonts/SCDream1.otf") format("opentype");
  font-weight: 80 120;
}

@font-face {
  font-family: "SCDream";
  src: local("SCDream2"), url("@/assets/fonts/SCDream2.otf") format("opentype");
  font-weight: 180 220;
}

@font-face {
  font-family: "SCDream";
  src: local("SCDream3"), url("@/assets/fonts/SCDream3.otf") format("opentype");
  font-weight: 280 320;
}

@font-face {
  font-family: "SCDream";
  src: local("SCDream4"), url("@/assets/fonts/SCDream4.otf") format("opentype");
  font-weight: 380 420;
}

@font-face {
  font-family: "SCDream";
  src: local("SCDream5"), url("@/assets/fonts/SCDream5.otf") format("opentype");
  font-weight: 480 520;
}

@font-face {
  font-family: "SCDream";
  src: local("SCDream6"), url("@/assets/fonts/SCDream6.otf") format("opentype");
  font-weight: 580 620;
}

@font-face {
  font-family: "SCDream";
  src: local("SCDream7"), url("@/assets/fonts/SCDream7.otf") format("opentype");
  font-weight: 680 720;
}

@font-face {
  font-family: "SCDream";
  src: local("SCDream8"), url("@/assets/fonts/SCDream8.otf") format("opentype");
  font-weight: 780 820;
}

@font-face {
  font-family: "SCDream";
  src: local("SCDream9"), url("@/assets/fonts/SCDream9.otf") format("opentype");
  font-weight: 880 920;
}
