@use "src/scss/variables";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  box-shadow: variables.$shadow;
  border-radius: 11px;
  padding: 11px;

  background-color: #ffffff;

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    background-color: inherit;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  input {
    width: 100%;

    font-size: 18px;
  }
}
